.remove-attr-btn {
    border: none;
    background: none;
}

.float-left {
    float: left!important;
}

.float-right {
    float: right!important;
}

#attribute_list {
    clear: both;
    margin-top: 85px; 
}

.attribute_input_group {
    margin-bottom: 10px;
}

.d-none {
    display: none !important;
}

.product-images {
    position: relative;
}

.product-images img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
}

.product-images .remove-image-button {
    position: absolute;
    top: -10px;
    right: 5px;
    z-index: 5;
    color: #c0392b;
}

#add-image-button {
    width: 100%;
    height: 200px;
    background: #bdc3c7;
    border-radius: 10px;
    padding: 5em 7em;
}

.row.comment {
    margin-bottom: 20px;
    margin-top: 10px;
}

.reply {
    border-left: solid 5px #2c3e50;
    padding-left: 10px;
    margin-left: -15px;
    margin-top: 30px;
}

.comment_user_avatar {
    width: 100%;
    max-width: 100px;
    object-fit: cover;
}

.btn-delete-comment {
    background-color: none;
    border: none;
}

.chart-area {
    margin-bottom: 20px;
}

.custom-search-form {
    max-width: 30%;
}

div#filter-form {
    margin: 0 0 20px 0px;
}