#account-menu {
    border: 1px solid #ebebeb;
    z-index: 100;
    position: absolute;
    padding: 10px;
    background: #ffffff;
}

#account-menu li {
    list-style: none;
    line-height: 50px;
}

.user-login-info #account-menu li a {
    border: none;
    line-height: 40px;
    width: 130px;
}

.single-product-wrapper .product-img img {
    height: 254px;
    object-fit: cover;
}

.owl-carousel {
    /* display: block !important; */
}

.owl-carousel .owl-item img {
    height: 555px;
    object-fit: cover;
}

.cart-thumb {
    width: 195px;
    height: 200px;
    object-fit: cover;
}

button.change-quantity-btn {
    font-weight: bolder;
    font-size: 2em;
    border: none;
    color: #fff;
    background: none;
    cursor: pointer;
    margin-right: 5px;
}

.card {
    width: 100%;
}