#account-menu {
    border: 1px solid #ebebeb;
    z-index: 100;
    position: absolute;
    padding: 10px;
    background: #ffffff;
}

#account-menu li {
    list-style: none;
    line-height: 50px;
}

.user-login-info #account-menu li a {
    border: none;
    line-height: 40px;
    width: 130px;
}

.single-product-wrapper .product-img img {
    height: 254px;
    object-fit: cover;
}

.owl-carousel .owl-item img {
    height: 555px;
    object-fit: cover;
}

.cart-thumb {
    width: 195px;
    height: 200px;
    object-fit: cover;
}

button.change-quantity-btn {
    font-weight: bolder;
    font-size: 2em;
    border: none;
    color: #fff;
    background: none;
    cursor: pointer;
    margin-right: 5px;
}

.card {
    width: 100%;
}

.custom-input {
    height: 42px;
    border: 1px solid #ebebeb;
    background-color: transparent;
    border-radius: 0;
}

.btn {
    height: 42px;
    border-radius: 0;
}

.card {
    border-radius: 0;
}

.card-header {
    background-color: #2c3e50;
    color: #fff;
}

.product-comments {
    margin: 50px 0px;
}
 
.row.comment {
    margin-bottom: 20px;
    margin-top: 10px;
}

.reply {
    border-left: solid 5px #2c3e50;
    padding-left: 10px;
    margin-left: -15px;
    margin-top: 30px;
}

.comment_user_avatar {
    width: 100%;
    max-width: 100px;
    object-fit: cover;
}

a {
    font-size: 1em;
    color: blue
}

.selected {
    color: #f1c40f
}

#form-edit-user {
    margin: 0px 25px;
}

.card {
    padding: 3em;
}

#change-avatar-btn, #change-password-btn {
    border: none;
    border-radius: 30px;
    background-color:  #2c3e50;
    color: #ebebeb;
    padding: 20px;
}